@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* { 
    margin: 0; 
    padding: 0;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    color: #F0F0F0;
    list-style-type: none;
}

body {
    background-color: #312533;
}

main {
    min-height:80vh;
}

footer {
    background-color: #403042;
    height: 150px;
    min-height:20vh;
    padding-left:50px;
}

footer > ul {
    padding-left:25px;
    margin-top:19px;
    width:180px;
    float:left;
}

.footerTitle {
    font-weight: bold;
    font-size: 25px;
    margin-bottom:5px;
}

.footerLink {
    font-size: 12px;
}

.footerDivider{
    width: 90%;
    height: 1px;
    background-color: #4C394E;
    margin-bottom:5px;
    margin-top:5px;
}

#footerPayments {
    float:right;
    width:500px;
}

#footerCompressedMenu {
    display:none;
}

#footerCompressedMenu > .footerTitle {
    cursor: pointer;
}

#footerCompressedCategories {
    display:none;
}

@media only screen and (max-width: 900px) {
    footer {
        padding-left:25px;
    }
    footer > ul {
        display:none;
    }

    #footerCompressedMenu {
        display:unset;
        width:180px;
        margin-top:25px;
        float:left;
    }

    #footerCompressedMenu > li {
        font-size:15px;
    }
    
    #footerCompressedCategories {
        display:unset;
        margin-top:26px;
    }
}