header {
    user-select: none;
    position: fixed;
    top: 0;
    width: 100%;
    color: #F0F0F0;
    z-index:1;
}

#mainHeader {
    background-color: #403042;
    text-align: center;
    padding: 0.5%;
    padding-bottom:3%;
}

#mainHeader > li > a > p {
    float: left;
    padding-top: 5%;
    font-size:100%;
}

.headerIcons {
    padding-left:10%;
    padding-right:5%;
    width:2vw;
    float: left;
}

#headerLogo {
    width: 7.5%;
    float:left;
}

#contactHeader {min-width:9vw;}

#helpHeader {min-width:10vw;}

#orderHeader {min-width:10vw;}

#wishlistHeader {min-width:8vw;}

#loginHeader {min-width:10vw;}

.headerLeftArticles {
    float:left;
    margin-top:0.2%;
}

.headerRightArticles {
    float:right;
    margin-top:0.2%;
}

.headerDivLine{
    width: 2px;
    height: 30px;
    background-color: #4C394E;
    float:left;
    margin-left:5%;
}


#subHeader {
    background-color: #4C394E;
    list-style-type: none;
    width:100%;
    font-size:15px;
    position:absolute;
}

#subHeader > li {
    padding-top:0.25%;
    padding-bottom:0.25%;
}

#cart {
    background-color: #108DD6;
    height:20px;
    min-width:130px;
}

#cartText {
    padding-top:1px;
    padding-right:5px;
    float:left;
}

#cart > img {float:right;}

#categoryMenu {cursor: pointer;}

.subHeaderLeftArticles {
    float:left;
    padding-right:2%;
    padding-left:0.5%;
}

.subHeaderRightArticles {
    float:right;
    padding-right:0.5%;
    padding-left:1%;
}

.headerCategories {padding-top:0.2%;}

#categoryDropdown {
    display:none;
    width:920px;
}

.categoryColumn {
    background-color: #4C394E;
    padding-top:32px;
    padding-left:10px;
    height:182px;
    float:left;
}

.categoryGroup {
    font-size:15px;
    padding-top:8px;
    padding-bottom:8px;
    font-weight:bold;
}

.categoryItem {
    font-size:12px;
    padding-bottom:2px;
}

#categoryVerticalDivider{
    width: 2px;
    height: 80%;
    background-color: #403042;
    padding-top:32px;
    margin-left:5%;
}

#categoryHorizontalDivider{
    width: 99%;
    height: 2px;
    background-color: #403042;
}

#categoryAgeRange {
    padding-top:220px;
    padding-left:10px;
    padding-bottom:35px;
    width:920px;
    background-color: #4C394E;
}

.smallButton {
    background-color: #108DD6;
    border-width: 5px;
    border-color: #108DD6;
    border-radius: 10px;
	border-style: solid;
    float:left;
    margin-right:10px;
    cursor: pointer;
}

#categoryRightList {display:none;}

#categoryLeftList {display:none;}

#languageMenu {cursor: pointer;}

#languageDropdown {
    background-color: #4C394E;
    float:right;
    position:absolute;
    width:130px;
    padding-left:10px;
    margin-top:20px;
    display:none;
}

#languageTitle {
    font-size:15px;
    padding-top:8px;
    padding-bottom:8px;
    font-weight:bold;
}

#languageDropdownText {
    float:left;
}

#languageHeaderIcon {
    float:left;
    width:20px;
    margin-right:5px;
    margin-top:2px;
}

.languageItem {
    font-size:12px;
    padding-bottom:2px;
}

#selectedLanguage{color: #108DD6;}

#languageHorizontalDivider{
    width: 90%;
    height: 2px;
    background-color: #403042;
    margin-bottom:5px;
}

#currencyMenu {cursor: pointer;}

#currencyDropdown {
    background-color: #4C394E;
    float:right;
    position:absolute;
    width:60px;
    padding-left:10px;
    display:none;
}

#currencyTitle {
    font-size:15px;
    padding-top:8px;
    padding-bottom:8px;
    font-weight:bold;
    color:#108DD6;
}

.currencyItem {
    font-size:12px;
    padding-bottom:2px;
}

#selectedCurrency {color: #108DD6;}

#currencyHorizontalDivider {
    width: 90%;
    height: 2px;
    background-color: #403042;
    margin-bottom:5px;
}

#landingArticle {
    height:80vh;
    padding-top:20vh;
    padding-left:5vw;
}

#landingLogo {
    padding-top:10vh;
    width:45%;
}

#landingImg {
    float:right;
    width:25%;
    max-height: 75vh;
    padding-right:5%;
}

#homeSearchBar {
    width:45%;
}

.homeSearchInput {
    background-color: #F0F0F0;
    color:#403042;
    font-size:25px;
    border-width:0px;
    width:90%;
    padding-left:10%;
    height:50px;
}

#homeSearchInputShorter {
    display:none;
}

#homeSearchInputShortest {
    display:none;
}

#homeSearchIcon {
    position: absolute;
    left: 5vw;
    width:50px;
}

#landingAdvancedButton {
    border-radius:0px 0px 10px 10px;
    background-color: #4C394E;
    border-color: #4C394E;
	border-style: solid;
    padding:5px;
    float:right;
}

.homeSearchInput::placeholder {
    color:#4C394E;
    font-style: italic;
}

#exploreText {
    position: absolute; 
    bottom: 0;
    margin-bottom:20px;
    font-size:15px;
    font-weight:bold;
}

.leftShelf {
    height:375px;
    padding-left:5vw;
    padding-top:50px;
    background-color:#F0F0F0;
    color:#403042;
}

.rightShelf {
    height:375px;
    padding-left:5vw;
    padding-top:50px;
    background-color:#F0F0F0;
    color:#403042;
    transform: scaleX(-1);
}

.shelfFloor {
    background-color:#403042;
    height:5px;
    width:80%;
    margin-top:16vw;
    left:0;
    position:absolute;
}

.shelfEdge {
    height: 25px;
    width: 25px;
    border-radius: 50%;
    position: absolute;
    margin-left:79%;
    margin-top:15.4vw;
    background-color:#403042;
    left:0;
    position:absolute;
}

.shelfEdgeInner {
    height:19px;
    width:19px;
    border-radius: 50%;
    background-color:#F0F0F0;
    margin-left:3px;
    margin-top:3px;
}

.shelfCategoryName {
    color:#403042;
    font-weight:bold;
    font-size:25px;
    position:absolute;
    margin-left:77%;
    margin-top:15.2vw;
}

.rightShelf > .shelfCategoryName {
    transform: scaleX(-1);
    text-align: right;
}

.shelfIcon {
    width:10%;
    margin-left:5%;
    transform: rotate(30deg);
    z-index:0;
}

.shelfArrow {
    width:5%;
    padding-bottom:4%;
}

.product {
    width:10%;
    padding-right:2%;
    float:left;
}

.rightShelf > .product {
    transform: scaleX(-1);
}

.extraProducts {
    float:left;
}

.product > a > img { 
    width:100%;
}

.productAuthor {
    color:#403042;
    font-size:12px;
    text-align: center;
    padding-bottom:20px;
}

.productPrice {
    padding:5px;
    margin-left:10%;
    border-radius:10px 0px 0px 10px;
    background-color:#FF0072;
    border-style: solid;
    border-color:#FF0072;
}

.productBasket {
    padding:5px;
    border-radius:0px 10px 10px 0px;
    background-color:#108DD6;
    border-style: solid;
    border-color:#108DD6;
}

@media only screen and (max-width:1750px) {
    .productPrice {
        margin-left:0%;
    }
}

@media only screen and (max-width:1650px) {
    .productPrice { 
        display:none;
    }

    .productBasket {
        border-radius:10px;
        width:100%;
    }
}

@media only screen and (max-width: 1548px) {
    #headerLogo {
        width:100px;
    }

    .headerIcons {
        width:25px;
        padding-left:10px;
    }

    .headerLeftArticles {
        margin-top:5px;
    }

    .headerRightArticles {
        margin-top:2px;
    }

    #mainHeader {
        padding: 5px;
        padding-bottom:40px;
    }

    #mainHeader > li > a > p{
        display: none;
    }
    
    #mainHeader > li{
        min-width:50px;
    }

    #footerPayments {
        display:none;
    }

    #homeSearchInputFull {
        display:none;
    }

    #homeSearchInputShorter {
        display:unset;
    }

    #homeSearchInputShortest {
        display:none;
    }
}

@media only screen and (max-width: 1000px) {
    .headerCategories { display: none; }

    #cart { min-width:100px; }

    #cartText { padding-right:2px; }

    #cart > img { display:none;}

    #topAuthors { display:none; }

    #bestSelling { display:none; }

    #categoryRightList { display:unset; }

    #categoryAgeRange { width:820px; }

    #homeSearchInputFull { display:none; }

    #homeSearchInputShorter { display:none; }

    #homeSearchInputShortest { display:unset; }

    .homeSearchInput {
        width:99%;
        padding-left:1%;
        height:50px;
    }

    #landingImg { display:none; }
    
    #homeSearchBar { width:95%; }

    #landingLogo {
        padding-top:0vh;
        width:95%;
    }

    #homeSearchIcon { display:none; }

    .leftShelf {
        padding-top:25px;
    }

    .extraProduct {
        display:none;
    }

    .shelfIcon {
        display:none;
    }

    .shelfArrow {
        margin-top:70px;
        width:50px;
    }

    .shelfFloor {
        margin-top:290px;
        width:85%;
    }

    .shelfEdge {
        margin-left:83%;
        margin-top:280px;
    }

    .shelfCategoryName {
        margin-top:255px;
        margin-left:0px;
    }

    .product {
        width:120px;
    }
}

@media only screen and (max-width: 830px) {
    #nonFiction {
        display:none;
    }

    #fiction {
        display:none;
    }

    #education {
        display:none;
    }

    #personalDevelopment {
        display:none;
    }

    #other {
        display:none;
    }

    #categoryLeftList {
        display:unset;
    }

    #categoryAgeRange {
        width:450px;
    }

    #languageHeaderIcon {
        display:none;
    }

    .edgeProduct {
        display:none;
    }
}

@media only screen and (max-height: 500px) {
    #landingArticle {
        padding-top:100px;
        height:400px;
    }

    #landingImg {
        max-height:375px;
    }

    #exploreText {
        display:none;
    }
}