main {
    margin-top:120px;
}

/* Categories article */
#categories {
    margin-left:10px;
    padding-top:10px;
}
#categories > * {
    float:left;
}

#categories > h2 {
    font-size:15px;
    margin-top:5px;
    font-weight:normal;
}

#categories > button {
    margin-left:10px;
    border-style:solid;
    border-width:5px;
    border-radius:10px;
    border-color:#108DD6;
    background-color:#108DD6;
    padding:2px;
}

/* Book article */
#book {
    margin-top:40px;
    height:713px;
    background-color: #F0F0F0;
    padding:25px;
}

#book > img {
    width:25%;
    float:left;
    margin-right:25px;
}

#bookInfo > h1 { 
    color: #403042;
    font-size:30px;
    margin-bottom:3px;
    font-weight:bold;
}

#altTypes > button {
    border-color:#403042;
}

.bookTypeButton {
    float:left;
    margin-right:5px;
    background-color:#403042;
    border-color:#FF0072;
    border-radius:10px;
    border-width:2px;
    border-style:solid;
    padding:2px 5px 2px 5px;
}

#bookInfoDivider {
    height:1px;
    margin-left:475px;
    width:39%;
    background-color:#403042;
    margin-top:30px;
}

#bookStarRating {
    margin-top:5px;
}

#bookStarRating > img {
    width:30px;
    float:left;
}

#bookStarRating > p {
    float:left;
    color:#403042;
    font-size:12px;
    margin-top:8px;
    margin-left:2px;
}

#bookMetaInfo {
    font-size:15px;
    margin-top:40px;
    color:#403042;
}

#bookMetaInfo > span {
    font-size:15px;
    color:#403042;
    text-decoration: underline;
}

#shareLinks {
    margin-top:5px;
}

#shareLinks > h1 {
    float:left;
    font-weight:bold;
    font-size:25px;
    color:#403042;
}

#shareLinks > a > img {
    width:30px;
    margin-left:11px;
    float:left;
}

#bookBlurb {
    color:#403042;
    font-size:15px;
    margin-top:40px;
    width:60%;
}

#bookSectionVerticalDivider {
    position:absolute;
    top:0;
    right:0;
    margin-right:600px;
    margin-top:200px;
    background-color:#403042;
    height:710px;
    width:1px;
}

#purchaseInfo {
    position:absolute;
    right:0;
    top:0;
    margin-top:200px;
}

#purchaseInfo > h2 {
    color: #403042;
    font-size:15px;
    font-weight:normal;
    margin:10px 0px 20px 180px;
}

#purchaseInfo > h2 > a {
    color:#403042;
    text-decoration: underline;
}

#pricing > h1 {
    margin-left:140px;
    float:left;
    font-size:50px;
    color:#FF0072;
}

#currentPrice {
    color:#FF0072;
}

#pricing > h2 {
    float:left;
    margin-top:30px;
    margin-left:10px;
    font-weight:normal;
    font-size:15px;
    text-decoration: line-through;
    color: #4C394E;
}

#originalPrice {
    color:#4C394E;
}

#pricing > h3 {
    position:absolute;
    margin-left:139px;
    margin-top:60px;
    font-weight:normal;
    font-style:italic;
    font-size:15px;
    color:#4C394E;
}

#priceSavings {
    color:#4C394E;
}

.bookPurchaseDivider {
    height:1px;
    margin-left:140px;
    width:60%;
    background-color:#403042;
}

#purchaseDivider {
    margin-top:86px;
}

.adListing {
    overflow-wrap: break-word;
    word-wrap: break-word;
    hyphens: auto;
    white-space: normal;
    margin-top:30px;
    margin-right:200px;
    width:500px;
    display: flex;
    align-items: left;
}

.adListing > * {
    color:#403042;
}

.adListing > img {
    width:50px;
    margin-left:130px;
    margin-right:25px;
}

.adListing > h2 {
    font-size:15px;
}

#firstAd {
    margin-top:35px;
}

#purchaseInfo > button {
    width:60%;
    height:70px;
    margin-left:140px;
    margin-top:20px;
    border-style: solid;
    border-radius:25px;
    border-width:5px;
    font-size:25px;
    font-weight:bold;
}

#purchaseButton {
    border-color:#108DD6;
    background-color:#108DD6;
}

#wishlistButton {
    border-color:#4C394E;
    background-color:#4C394E;
}

/*Product details article*/
#metaData {
    margin-top:50px;
    background-color: #F0F0F0;
    padding:25px;
    height:150px;
}

#metaData > h1 {
    color:#403042;
}

#metaDataHorizontalDivider {
    height:1px;
    width:100%;
    margin:5px 0px 5px 0px;
    background-color:#403042;
}

.metaDataColumn {
    float:left;
    margin-right:100px;
}

.metaDataColumn > li {
    color:#403042;
    line-height:25px;
    font-weight:bold;
}

.metaDataColumn > li > span {
    font-weight:normal;
    color:#403042;
}